@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

:root {
  --color-preto: #201e1f;
  --color-cinza: #e5e5e5;
  --color-roxo: #7d2eba;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "Montserrat", -apple-system, "Roboto", sans-serif;
  color: var(--color-preto);
  font-weight: 400;
}
body {
  display: flex;
  justify-content: center;
}
body #root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background-color: var(--color-preto);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-roxo);
  border-radius: 10px;
}
@media (min-width: 992px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 75%;
  }
}
