#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 90px;
}
#container h1 {
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-bottom: 60px;
}
#container h2 {
  text-align: center;
}
#container p#instrucao {
  text-align: center;
  margin: 20px 0 60px 0;
}
#container img {
  width: 100%;
  max-width: 600px;
}
#container hr {
  background: var(--color-cinza);
  height: 1px;
  width: 100%;
  margin: 100px 0 35px 0;
}
#container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form p#aviso {
  font-weight: 500;
  margin-bottom: 100px;
}
form p#aviso strong {
  font-weight: 600;
}
form div.column-input {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 70px;
}
form label {
  font-weight: 500;
}
.column-input input[type="text"],
input[type="number"],
input[type="submit"],
select,
textarea,
button {
  border: 1px solid var(--color-preto);
  padding: 10px;
  height: 35px;
}
form .row {
  display: flex;
  width: 100%;
  gap: 60px;
}
.column-input.input-text {
  width: 100%;
}
.column-input.select select {
  padding: 0 5px;
}
form .row-selectors {
  display: flex;
  align-items: center;
  gap: 10px;
}
form .row-selectors input[type="radio"] {
  width: 25px;
  height: 25px;
}
form .row-selectors label {
  font-weight: 400;
}
form textarea {
  min-height: 100px;
  max-height: 200px;
  min-width: 50%;
  max-width: 100%;
}
form button {
  padding: 5px 20px;
}
@media (max-width: 767px) {
  form .row {
    flex-direction: column;
    gap: 15px;
  }
  #container {
    padding: 90px 20px;
  }
}
